<div class="order-container">
    <div class="order-header">
        <h1 class="order-header__title">{{ order.restaurant.title }}, by {{ order.user.name }}</h1>
    </div>
    <div class="order-items">
        <table mat-table [dataSource]="order.order_items" class="mat-elevation-z8">

            <!-- Order Items Column -->
            <ng-container matColumnDef="orderItems">
                <th mat-header-cell *matHeaderCellDef>Order Items</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element"> {{element.price}} EGP </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <button class="decrement-btn" mat-raised-button (click)="onDecrementQuantity(element.id)">
                            <i class="material-icons">
                                remove
                            </i>
                        </button>
                        <div class="item-quantity">{{element.quantity}}</div>
                        <button class="increment-btn" mat-raised-button (click)="onIncrementQuantity(element.id)">
                            <i class="material-icons">
                                add
                            </i>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>